<div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span>
                <h4>{{ position }}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>{{ destination.name }}</h3>
            <p>Services</p>
            <ul>
                <li *ngFor="let s of destination.services">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'breakfast'" style="color: rebeccapurple;"> {{s}} </i>
                        <i *ngSwitchDefault> {{s}} </i>

                        {{ s }}
                    </span>
                </li>
            </ul>
            <a href="#" class="btn-card" (click)="go()">Go!</a>
            <span *ngIf="destination.isSelected()" >
                <span ngNonBindable>- Favorite -</span>
            
            </span>
            <a [routerLink]="['/destination']">See more!!</a>
        </div>
</div>